@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header {
    border: 1px solid #ccc;
    min-width: 700px;
    height: 60px;
    background-color: #ddd;
}

.header > h2 {
    text-indent: 10px;
    font: 700 16px/60px "Microsoft YaHei", sans-serif;
    color: #999;
}

.main {
    overflow: hidden;   /* auto会使得div有时带滚动条 */
    margin-top: -1px;
    min-width: 700px;
}

.category,
.task {
    position: relative;
    float: left;
    padding-bottom: 41px;
    border: 1px solid #ccc;
    width: 200px;
    min-height: 300px;
}

.content {
    float: left;
    margin-left: -403px;
    width: 100%;
}

.task {
    margin-left: -1px;
}

.inner-content {
    position: relative;
    margin-left: 402px;
    padding-bottom: 41px;
    border: 1px solid #ccc;
    min-width: 300px;
    min-height: 300px;
}

.category {
    background-color: #f2f2f2;
    text-indent: 10px;
}

.category > p {
    height: 44px;
    background-color: #f2f2f2;
    font: 14px/44px "Microsoft YaHei", sans-serif;
    color: #333;
}

.category > p:first-child {
    margin-top: 16px;
}

.cate-list > li {
    position: relative;
    height: 28px;
    text-indent: 30px;
    font: 14px/28px "Microsoft YaHei", sans-serif;
}

.add {
    position: absolute;
    bottom: 0;
    border-top: 1px solid #ccc;
    height: 40px;
    width: 100%;
    background-color: #eee;
    color: #333;
}

.icon-floder {
    background-image: url(../img/floder.png);
    background-repeat: no-repeat;
    background-position: 10px 6px;
}

.icon-paper {
    background-image: url(../img/paper.png);
    background-repeat: no-repeat;
    background-position: 30px 6px;
}

.icon-delete {
    position: absolute;
    right: 10px;
    top: 6px;
    display: none;
    width: 16px;
    height: 16px;
    background-image: url(../img/delete.png);
    background-repeat: no-repeat;
}

.icon-add {
    background-image: url(../img/add.png);
    background-repeat: no-repeat;
    background-position: 12px 12px;
}

.font12 {
    font: 12px/40px "Microsoft YaHei", sans-serif;
    text-indent: 40px;
}

.sub-cate {
    padding-left: 20px;
}

.current-cate {
    background-color: #fff;
}

.category > p,
.cate-list,
.add {
    cursor: pointer;
}

.filter {
    border-bottom: 1px solid #ccc;
    height: 40px;
    background-color: #eee;
    font-size: 0;
}

.filter > span {
    display: inline-block;
    margin-top: 9px;
    border: 1px solid #eee;
    width: 45px;
    height: 20px;
    text-align: center;
    font: 12px/20px "Microsoft YaHei", sans-serif;
    color: #333;
    cursor: pointer;
}

.filter > span:first-child {
    margin-left: 10px;
}

.filter > .current-filter,
.filter > span:hover {
    border: 1px solid #ccc;
    background-color: #fff;
}

.task-list {
    background-color: #fff;
}

.task-list > p,
.task-list li {
    height: 28px;
    font: 12px/28px "Microsoft YaHei", sans-serif;
}

.task-list > p {
    text-indent: 20px;
    background-color: #fafaee;
}

.task-list li {
    text-indent: 35px;
    background-color: #fff;
}

.done {
    color: #238c00;
}

.task-list .current-task {
    background-color: #f2f2f2;
}

.task-title,
.task-date {
    border-bottom: 1px solid #ccc;
    height: 50px;
    text-indent: 15px;
    line-height: 50px;
}

.task-title {
    background-color: #f2f2f2;
}

.task-date {
    background-color: #fafaee;
}

.set {
    border: none;
    background: transparent;
    font: 14px "Microsoft YaHei", sans-serif;
}

.task-title > input {
    font-weight: 700;
}

.task-date > label {
    font: 14px "Microsoft YaHei", sans-serif;
}

.icon-finish,
.icon-edit {
    position: absolute;
    top: 9px;
    display: inline-block;
    width: 32px;
    height: 32px;
}

.icon-finish {
    right: 70px;
    background: url(../img/finish.png) no-repeat;
}

.icon-edit {
    right: 20px;
    background: url(../img/edit.png) no-repeat;
}

.textarea {
    padding: 15px;
    font-size: 0;
}

.textarea > textarea {
    overflow: auto;
    border: none;
    width: 100%;
    min-height: 100px;
    font: 14px "Microsoft YaHei", sans-serif;
    resize: none;    /* 设置文本域大小不可改变 */
    outline: none;
}

.btns {
    display: inline-block;
    margin-left: 50%;
    height: 40px;
    font: 12px/40px "Microsoft YaHei", sans-serif;
}

.btns > input {
    position: relative;
    left: -50%;
    border: 2px solid #999;
    width: 35px;
    height: 25px;
    background-color: #fff;
    cursor: pointer;
}

.btn-cancel {
    margin-left: 40px;
}