@charset 'utf-8';

* {
    margin: 0;
    padding: 0;
}

.wrap {
    overflow: hidden;
    position: relative;
    margin: 100px auto;
    border: 3px solid #bbb;
    width: 600px;
    height: 400px;
}

.inner {
    position: relative;
    left: -600px;
    width: 3000px;
    height: 400px;
}

.inner a {
    float: left;
    width: 600px;
    height: 400px;
}

.inner img {
    width: 600px;
    height: 400px;
}

.arrow-left,
.arrow-right {
    position: absolute;
    top: 50%;
    margin-top: -32px;
    width: 64px;
    height: 64px;
    opacity: 0.5;
    cursor: pointer;
}

.arrow-left:hover,
.arrow-right:hover {
    opacity: 1;
}

.arrow-right {
    right: 0;
}

.link {
    position: absolute;
    bottom: 20px;
    left: 50%;
    list-style: none;
    cursor: pointer;
}

.link li {
    position: relative;
    left: -50%;
    float: left;
    border-radius: 50%;
    border: 2px solid #ccc;
    width: 14px;
    height: 14px;
    cursor: pointer;
}

.link li + li {
    margin-left: 10px;
}

.non-current {
    background-color: #bbb;
}

.current {
    background-color: #EC7412;
}