@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    padding: 15px;
}

.info {
    margin-bottom: 10px;
    border-bottom: 2px solid #ccc;
    text-align: center;
}

.blocks {
    border: 5px solid #ccc;
    border-radius: 10px;
    margin: 10px 0;
    padding: 15px;
}

.blocks p {
    font: 14px/1.5 "Microsoft YaHei", sans-serif;
    text-indent: 2em;
}

input[type=button] {
    float: right;
    margin-top: -20px;
    background-color: #ccc;
}

.colorRed {
    color: #f00;
}

.colorBlue {
    color: #00f;
}

.blocks ul {
    margin-left: 2em;
    border: 2px dotted #ccc;
    font: 14px/1.5 "Microsoft YaHei", sans-serif;
    text-indent: 2em;
    list-style: none;
}