@charset 'utf-8';

* {
    margin: 0;
    padding: 0;
}

.nav {
    overflow: auto;
    margin: 50px auto 0;
    list-style: none;
    width: 800px;
}

.nav > li {
    float: left;
    padding: 10px 30px;
    font: 700 16px "SimSun", serif;
    cursor: pointer;
    border: 1px solid #ddd; 
}

.nav > li:first-child {
    background-color: #ddd;
}

.nav > li:hover {
    background-color: #ddd;
}

.nav > li + li {
    margin-left: -1px;
}

.content {
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    width: 800px;
    height: 500px;
    background-color: #ddd;
}

.content + .content {
    display: none;
}

.step {
    font: 700 14px/2 "SimSun", serif;
}

.hob {
    font: 700 14px/2 "SimSun", serif;
    color: #00f;
}

.textarea {
    width: 200px;
    height: 100px;
}

.btn {
    vertical-align: top;
}

.err {
    font: 700 14px/2 "SimSun", serif;
    color: #f00;
}