@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

/*common style: header + footer*/
/*header style*/
body {
    min-width: 980px;
    background-color: #eee;
}

#header {
    position: relative;
    width: 100%;
    height: 80px;
    background-color: #29b6ea;
}

#header-wrap {
    position: relative;
    margin: 0 auto;
    width: 980px;
    height: 80px;
}

#header-wrap > img {
    position: absolute;
    bottom: 15px;
    left: 0;
}

#header-nav {
    position: absolute;
    right: 0;
    bottom: 5px;
    list-style: none;
}

#header-nav > li {
    float: left;
    margin-left: 28px;
}

#header-nav a {
    font: 14px "SimSun", serif;
    text-decoration: none;
    color: #fff;
}

#header > a {
    position: absolute;
    right: 10px;
    bottom: 0;
    display: block;
    width: 30px;
    height: 34px;
}

@media (max-width: 980px) {
    #header > a {
        display: none;
    }
}

/*footer style*/
#footer {
    width: 100%;
    background-color: #000;
}

#footer-nav {
    border-bottom: 1px solid #333;
    font-size: 0;
}

#footer-nav > ul {
    position: relative;
    left: 50%;
    display: inline-block;
    list-style: none;
}

#footer-nav li {
    float: left;
    position: relative;
    right: 50%;
}

#footer-nav li + li {
    margin-left: 25px;
}

#footer-nav a {
    font: 12px "SimSun", serif;
    line-height: 35px;
    text-decoration: none;
    color: #fff;
}

#links {
    overflow: auto;
    margin: 0 auto;
    width: 980px;
}

#links > div {
    float: left;
    margin: 40px 0 75px;
    width: 196px;
}

#links h3 {
    margin-bottom: 30px;
    font: 400 12px "SimSun", serif;
    color: #ccc;
}

#links a {
    font: 12px/2 "SimSun", serif;
    text-decoration: none;
    color: #fff;
}

#links a:hover {
    text-decoration: underline;
}

#copyright {
    font-size: 0;
    text-align: center;
}

#copyright  > p {
    margin-bottom: 20px;
    font: 12px "SimSun", serif;
    color: #fff;
}

#copyright > a {
    display: inline-block;
    width: 30px;
    height: 34px;
}


/*main style: index + blog + gallery + about*/
/*index-main style*/
#index > img {
    display: block;
    width: 100%;
    height: 576px;
}

#banner {
    position: relative;
    margin: -576px auto 0;
    width: 980px;
    height: 576px;
}

#banner-text {
    position: absolute;
    right: 0;
    bottom: 0;
    overflow: hidden;
    padding: 10px 10px 30px;
    width: 360px;
    height: 120px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    /*old webkit*/
    background: -webkit-gradient(linear, center top, center bottom,
        color-stop(0%, rgba(255,255,255,.7)),
        color-stop(75%, rgba(255,255,255,.5)),
        color-stop(100%, rgba(255,255,255,0)));
    /*new webkit*/
    background: -webkit-linear-gradient(top,
        rgba(255,255,255,.7) 0%, rgba(255,255,255,.5) 75%, rgba(255,255,255,0) 100%);
    /*mozilla*/
    background: -moz-linear-gradient(top,
        rgba(255,255,255,.7) 0%, rgba(255,255,255,.5) 75%, rgba(255,255,255,0) 100%);
    /*opera*/
    background: -o-linear-gradient(top,
        rgba(255,255,255,.7) 0%, rgba(255,255,255,.5) 75%, rgba(255,255,255,0) 100%);
    /*兼容，包括IE10+*/
    background: linear-gradient(to bottom,
        rgba(255,255,255,.7) 0%, rgba(255,255,255,.5) 75%, rgba(255,255,255,0) 100%);
}

#banner-text > h2 {
    font-size: 14px;
    text-align: right;
}

#banner-text > p {
    margin-top: 12px;
    font-size: 12px;
    line-height: 1.5;
    text-indent: 2em;
}

#show {
    overflow: hidden;
    margin: 10px auto 110px;
    width: 980px;
}

.show-box {
    float: left;
    margin-bottom: -10000px;
    padding: 10px 10px 10000px;
    width: 320px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #fff;
}

.show-box + .show-box {
    margin-left: 10px;
}

.show-box > img {
    width: 300px;
    height: 180px;
}

.show-box > p {
    margin: 0 20px;
    font-size: 12px;
    line-height: 1.7;
    text-indent: 2em;
}

.show-box > img + p {
    margin-top: 15px;
}

.show-box > p:last-child {
    margin-bottom: 25px;
}

#self-intro {
    padding-bottom: 190px;
    width: 100%;
    background-color: #fff;
}

#self-intro > img {
    position: relative;
    top: -50px;
    left: 50%;
    display: block;
    border-radius: 80px;
    margin-left: -80px;
    width: 160px;
    height: 160px;
}

#self-intro > h1 {
    margin: 0 auto;
    width: 600px;
    font: 20px "Century Gothic", "Comic Sans MS", "Microsoft YaHei", sans-serif;
    text-align: center;
}

#self-intro > p {
    margin: 30px auto 0;
    width: 600px;
    font-size: 14px;
    text-indent: 2em;
}

/*blog-main style*/
#blog {
    margin: 20px auto;
    width: 980px;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.clearfix {
    *zoom: 1;   /*兼容IE6、7*/
}

.main {
    float: left;
    width: 710px;
}

.content {
    position: relative;
    padding: 20px 10px;
    background-color: #fff;
}

.content + .content {
    margin-top: 10px;
}

.tag {
    position: absolute;
    top: 20px;
    left: -50px;
}

.tag-date,
.tag-category {
    width: 50px;
    height: 40px;
    font: 16px/40px "SimSun", serif;
    text-align: center;
    color: #fff;
}

.tag-date {
    background-color: #29b6ea;
}

.tag-category {
    background-color: #8ec5f3;
}

.content > h2 {
    font: 700 16px/1.5 "SimSun", serif;
    color: #29b6ea;
}

.content > h3 {
    margin-bottom: 5px;
    font: 700 12px/1.5 "SimSun", serif;
    color: #666;
}

.content > p {
    font: 12px/1.5 "SimSun", serif;
    text-indent: 2em;
}

.content > span {
    margin-top: 25px;
    display: block;
    font: 12px "SimSun", serif;
    text-align: right;
    color: #999;
}

#page {
    position: relative;
    left: 50%;
    display: inline-block;
    margin-top: 10px;
}

#page > span {
    position: relative;
    right: 50%;
    float: left;
    padding: 15px;
    font: 12px "SimSun", serif;
    background-color: #fff;
    color: #999;
}

#page > span + span {
    margin-left: 10px;
}

#page a {
    text-decoration: none;
    color: #000;
}

#page > .current-page,
#page > .current-page > a {
    font-weight:700;
    background-color:#8ec5f3;
    color:#fff;
}

.extra {
    float: right;
    width: 260px;
}

.search {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 19px;
    width: 100%;
    height: 80px;
    background-color: #fff;
}

.search > form {
    font-size: 0;
}

.keywords {
    border: 1px solid #ddd;
    outline: none;
    width: 170px;
    height: 40px;
    font-size: 14px;
    text-indent: 50px;
    vertical-align: top;
    background: url(../img/icon-search.png) no-repeat;
    color: #999;
}

.keywords:hover,
.keywords:focus {
    border-color: #343434;
    color: #333;
}

.go {
    border: 1px solid #ddd;
    border-left: none;
    outline: none;
    width: 50px;
    height: 42px;
    font-size: 20px;
    color: #fff;
}

.go:hover {
    border-color: #999;
    background-color: #999;
}

#category {
    margin-top: 10px;
    border-bottom: 1px solid #ddd;
}

#category > a {
    text-decoration: none;
}

#category div {
    border-top: 1px solid #ddd;
    border-left: 5px solid #8ec5f3;
    padding-left: 20px;
    height: 50px;
    font: 14px/50px "SimSun", serif;
    background-color: #fff;
    color: #666;
}

#category div:hover {
    border-left: 5px solid #29b6ea;
    font-weight: 700;
    color: #000;
}

#calendar {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    margin-top: 10px;
    padding: 20px;
    height: 240px;
    background-color: #fff;
}

#calendar table {
    border-collapse: collapse;
    width: 220px;
    height: 200px;
    font-size: 14px;
    text-align: center;
    color: #999;
}

#calendar tr {
    border-bottom: 1px solid #eee;
    height: 28px;
}

#calendar tr:first-child {
    border-bottom: none;
    height: 31px;
    color: #29b6ea;
}

.lcol {
    width: 31px;
}

.rcol {
    width: 32px;
}

.big-day {
    font-weight: 700;
    color: #29b6ea;
}

.today {
    font-weight: 700;
    background-color: #29b6ea;
    color: #fff;
}

#tag-set {
    margin-top: 10px;
    padding: 20px;
    background-color: #fff;
}

#tag-set > h3 {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
    color: #666;
}

#tag-set > span {
    color: #29b6ea;
}

.style1 {
    font: 700 28px "Microsoft YaHei", sans-serif;
}

.style2 {
    font: 700 20px "Times New Roman", serif;
}

.style3 {
    font: 400 16px "Times New Roman", serif;
}

.style4 {
    font: 400 12px "Microsoft YaHei", sans-serif;
}

/*gallery-main style*/
#gallery {
    margin: 20px auto;
    width: 980px;
}

#gallery-main {
    overflow: hidden;
}

#gallery-main > a {
    float: left;
    text-decoration: none;
}

.gallery-nav {
    border-top: 4px solid #29b6ea;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    margin-left: -1px;
    padding: 15px 20px 20px;
    box-sizing: border-box;
    height: 50px;
    background-color: #fff;
    color: #000;
}

.rm-bborder {
    border-bottom: none;
}

.rm-bborder:hover {
    border-bottom: 1px solid #eee;
}

.rm-rborder {
    border-right: none;
}

.nav-color2 {
    border-top-color: #dfc6e6;
}

.nav-color3 {
    border-top-color: #d2a6ff;
}

.nav-color4 {
    border-top-color: #ffa98c;
}

.nav-color5 {
    border-top-color: #ffe188;
}

.nav-color2:hover,
.nav-color2:active {
    border-top-color: #522a5c;
}

.nav-color3:hover,
.nav-color3:active {
    border-top-color: #5900b2;
}

.nav-color4:hover,
.nav-color4:active {
    border-top-color: #8c2300;
}

.nav-color5:hover,
.nav-color5:active {
    border-top-color: #d9a300;
}

.waterfall {
    overflow: auto;
    clear: both;
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    background-color: #fff;
    color: #fff;
}

.waterfall ul {
    float: left;
    width: 160px;
    list-style: none;
}

.waterfall > ul:first-child {
    width: 330px;
}

.waterfall img {
    display: block;
    width: 160px;
    height: 100px;
}

.waterfall li > div {
    box-sizing: border-box;
    padding: 10px;
}

#wf-first {
    width: 330px;
}

#wf-first > img {
    display: block;
    width: 330px;
    height: 150px;
}

#wf-first > div {
    background-color: #522a5c;
}

.margin-top {
    margin-top: 10px;
}

.margin-left {
    margin-left: 10px;
}

.bgY {
    background-color: #d9a300;
}

.bgP {
    background-color: #522a5c;
}

.bgR {
    background-color: #8c2300;
}

.bgB {
    background-color: #5900b2;
}

.character {
    float: left;
    border: 1px solid #fff;
    border-radius: 14px;
    width: 28px;
    height: 28px;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
}

.waterfall h3,
.waterfall p {
    padding-left: 48px;
    line-height: 1.8;
}

.waterfall h3 {
    font-size: 14px;
    font-weight: 400;
}

.waterfall p {
    font-size: 12px;
}

#more {
    margin-top: 10px;
    height: 50px;
    text-align: center;
    background-color: #fff;
}

#more > img {
    vertical-align: middle;
}

#more > a {
    display: inline-block;
    font-size: 12px;
    line-height: 50px;
    text-decoration: none;
    color: #666;
}

#gallery-search {
    margin-top: 50px;
}

#rank {
    margin-top: 10px;
    padding: 20px 15px;
    background-color: #fff;
}

#rank > h3 {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
    color: #666;
}

#rank > div {
    margin-top: 10px;
}

.seq {
    display: inline-block;
    border-radius: 9px;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    vertical-align: top;
    background-color: #8ec5f3;
    color: #fff;
}

.rankbar-wrap {
    width: 100px;
    display: inline-block;
    border: 1px solid #8ec5f3;
}

.rankbar {
    width: 100px;
    height: 16px;
    background-color: #8ec5f3;
}

.rank2 {
    width: 80%;
}

.rank3 {
    width: 60%;
}

.rank4 {
    width: 40%;
}

.rank5 {
    width: 20%;
}

.rank-text {
    display: inline-block;
    font: 12px/18px "Microsoft YaHei", sans-serif;
    vertical-align: top;
}

/*about-main style*/
#about {
    margin: 100px auto 25px;
    width: 980px;
}

#about-main,
#about-extra {
    width: 487px;
    background-color: #fff;
}

#about-main {
    float: right;
    padding-bottom: 50px;
}

#about-main > div {
    position: relative;
    padding: 130px 140px 25px 30px;
}

#about-avatar {
    position:absolute;
    top: -70px;
    left: -90px;
    border: 10px solid #eee;
    border-radius: 50%;
    width: 160px;
    height: 160px;
}

.about-icon {
    position: absolute;
    top: 0;
    left: -55px;
    border: 5px solid #eee;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

#about-main h2 {
    position: absolute;
    right: 115%;
    font: 700 22px "SimSun", serif;
    white-space: nowrap;    /* 禁止文字换行*/
}

#about-main p {
    font: 14px/1.8 "SimSun", serif;
    text-indent: 2em;
}

#about-main .sub-p {
    font: 12px/1.8 "SimSun", serif;
    text-indent: 27px;
}

#about-main span {
    position: absolute;
    left: -38px;
    display: block;
    border: 5px solid #eee;
    border-radius: 10px;
    width: 60px;
    height: 25px;
    font: 14px/25px "SimSun", serif;
    text-align: center;
    background-color: #fff;
    color: #666;
}

#about-main .sub-list {
    margin-top: 30px;
}

#about-extra {
    height: 967px;
}